# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local virtual environments
venv/
.venv/
env/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE/Editor configs
.vscode/
.idea/